@import model.{Beatmap, ModRequest, ModeStaringJs}
@(maps: Seq[((ModRequest, Beatmap), Int)])


    @index("Beatmaps") {
        <h1>Beatmaps</h1>

        @if(maps.isEmpty) {
            <h2>WTF, why is it empty?</h2>
        }
        <div class="pure-g">

        @for(((mr, bm), idx) <- maps) {
            @defining((s"https://b.ppy.sh/thumb/${mr.beatmap_id}l.jpg",
                    "https://osu.ppy.sh/s/" + mr.beatmap_id)) { case (thumb, url) =>
            <div class="pure-u-1-3">
                <div class="card">
                    <span class="order" title="@mr.time">@(idx + 1)</span>
                    <h3><a href="@url" target="_blank">@bm.title</a></h3>
                    <div class="box">
                        <a href="@url" target="_blank"><img src="@thumb" class="thumb"></a>
                        <div>

                            <p>Artist: @bm.artist</p>
                            <p>Creator: @bm.creator (posted by <span title="@mr.time">@mr.nick</span>)</p>
                            <p>BPM: @bm.bpm , Favs: @bm.favourite_count</p>

                            <p>
                                @for(diff <- mr.set) {
                                    @diff.getHtml
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
        </div>


    }